<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/frog.jpeg">
    <link rel="stylesheet" href="../static/header.css">
    <title>Online Exam Site</title>
</head>
  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/" class="a">HOME</a></li>
          </ul>
        </div>

        <div class="formSection barItem">
          <form class="barItem" action="" method="post">
            <input type="text" name="uid" value="" placeholder="E-mail" required>
            <input type="password" name="pass" value="" placeholder="Password" required>
            <input type="submit" name="loginButton" value="LOGIN">
          </form>

          <button class="barItem input" style="margin-left:10px;">
            <a href="index.html">LOGOUT</a>
          </button>
        </div>

      </div>
    </header>

    {% block body %}
    {% endblock %}


    <footer class="footer">
      
    </footer>

  </body>
</html>